# Web Framework & API Server
fastapi
uvicorn
python-multipart

# Core
numpy
scipy
soundfile
librosa
setuptools<81

# Dataset generation
pyroomacoustics
audiomentations
pandas

# Model training
torch
torchaudio

# Evaluation
pystoi
pesq
# Real-time demo
sounddevice

# Utilities
tqdm
